.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  margin: 0 auto;
  width: auto;
  height: auto;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top:10px;
  backdrop-filter: blur(2px);
}

.box2 {
  margin: 0 auto;
  width: 16rem;
  height: 15rem;
  background: rgba(16,18,27,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

